@model IEnumerable<WebAppProject.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(" ", "Create", null, htmlAttributes: new { @class = "btn btn-success glyphicon glyphicon-plus" })
</p>
<table id="categoryTable" class="table table-bordered" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCategoria)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCategoria)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.CategoriaId }, htmlAttributes: new { @class = "btn btn-warning glyphicon glyphicon-edit" })
                @Html.ActionLink(" ", "Details", new { id = item.CategoriaId }, htmlAttributes: new { @class = "btn btn-info glyphicon glyphicon-plus-sign" })
                @Html.ActionLink(" ", "Delete", new { id = item.CategoriaId }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-trash" })
            </td>
        </tr>
    </tbody>
}

</table>

@* Parte do script para DataTables *@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#categoryTable').DataTable();
        });
    </script>
}
