@model IEnumerable<WebAppProject.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nova Categoria", "Create")
</p>
<table id="categoryTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCategoria)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCategoria)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoriaId }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-pencil" })
                @Html.ActionLink("Details", "Details", new { id = item.CategoriaId }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-plus" })
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoriaId }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-trash" })
            </td>
        </tr>
    </tbody>
}

</table>

@* Parte do script para DataTables *@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#categoryTable').DataTable();
        });
    </script>
}
