@model WebAppProject.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div class="col-lg-12">
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img src="@Url.Content(Model.Image)" alt="Image"
                     style="width:100px; height:100px;
		                max-width: 100%; height: auto;" />
            }
            else
            {
                <p><b>Produto sem Imagem!</b></p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.NomeCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.NomeCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor.NomeFornecedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor.NomeFornecedor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning glyphicon glyphicon-edit" })
    @Html.ActionLink(" ", "Index", null, htmlAttributes: new { @class = "btn btn-default glyphicon glyphicon-backward" })
</p>
