@model IEnumerable<WebAppProject.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(" ", "Create", new {}, htmlAttributes: new { @class = "btn btn-success glyphicon glyphicon-plus" })
</p>
<table id="productTable" class="table table-bordered" cellspacing="0">
    <thead>
        <tr>            
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria.NomeCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor.NomeFornecedor)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @if(!string.IsNullOrEmpty(item.Image))
                {
                    <img src="@Url.Content(item.Image)" alt="Image"
                        style="width:80px; height:80px;
		                max-width: 100%; height: auto;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.NomeCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor.NomeFornecedor)
            </td>
            <td>
                <div class="col-sm-4">
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning glyphicon glyphicon-pencil" })
                </div>
                <div class="col-sm-4">
                    @Html.ActionLink(" ", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info glyphicon glyphicon-plus-sign" })
                </div>
                <div class="col-sm-4">
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                </div>
            </td>
        </tr>
    </tbody>
}

</table>

@* Parte do script para DataTables *@
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#productTable').DataTable();
        });
    </script>
}
