@using WebAppProject.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@{
    if (Session["Cart"] == null)
    {
        <h1>A página não contém nenhum produto selecionado!</h1>
    }
    else
    {
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub total</th>
            </tr>

            @foreach (var cart in (List<Cart>)Session["Cart"])
            {
                <tr>
                    <td>@cart.Produto.Nome</td>
                    <td>@cart.Produto.Preco</td>
                    <td>@cart.Quantidade</td>
                    <!-- FAZENDO O CÁLCULO DO SUBTOTAL -->
                    <td>@(String.Format("{0:N0}", cart.Produto.Preco * cart.Quantidade))</td>
                    <td>
                        @Html.ActionLink(" ", "Delete", "Cart", new { id = cart.Produto.Id },
                            new { onclick = "return confirm ('Você tem certeza que quer retirar este item?);",
                                @class = "btn btn-danger glyphicon glyphicon-trash" })
                    </td>
                </tr>
            }

            <tr>
                <td colspan="3">Total:</td>
                <td>
                    @{
                        List<Cart> temp = (List<Cart>)Session["Cart"];
                        var total = String.Format("{0:N0}", temp.Sum(c => c.Quantidade * c.Produto.Preco));
                    }

                    R$ @total
                </td>
            </tr>

        </table>
        <br />
        @Html.ActionLink("Você quer continuar?", "Produtos", "Products")
    }
}

