@model WebAppProject.Models.Provider

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div class="col-lg-12">
    <h4>Fornecedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeFornecedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFornecedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInclusao)
        </dd>

        <dd>
            @Html.DisplayNameFor(model => model.Image)
        </dd>

        <dt>
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <img src="@Url.Content(Model.Image)" alt="Image"
                     style="width:100px; height:100px;
		                max-width: 100%; height: auto;" />
            }
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink(" ", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning glyphicon glyphicon-edit" })
    @Html.ActionLink(" ", "Index", null, htmlAttributes: new { @class = "btn btn-default glyphicon glyphicon-backward" })
</p>
