<!-- CÓDIGO UTILIZADO DO SITE: 
        https://pt.stackoverflow.com/questions/40857/implementa%C3%A7%C3%A3o-de-carrinho-de-compras-em-asp-net-mvc
-->

@model IEnumerable<WebAppProject.Models.DetailsOrder>

@{
    ViewBag.Title = "Carrinho";
}

<h2>Carrinho</h2>

@foreach (var item in Model)
{
    <li>
        @item.IdDetailsOrder - @item.Produto.Id

        <input type="text" value="@item.Produto.Quantidade" readonly="readonly" />
        <input type="submit" value="alterar" />
        @Html.ActionLink("Remover", "Remover", "Shop", new { id = item.IdDetailsOrder }, null)
    </li>
}

@Html.ActionLink("Retornar", "Servicos", "Shop")